*{
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: #8caf97;
}

header{
    width: 100%;
    border: 2px solid rgb(113, 155, 130);
    text-align: center;
    border-radius: 10px;
    background-color: #428866;
    color: #131b25;
}
header h2{
    font-size: 2rem;
    margin: 10px 0 0 0;
}
header p{
    font-size: 1.2rem;
    margin: 10px 0 0 0;
}

.container{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    border: 2px solid rgb(113, 155, 130);
    border-radius: 10px;
    background-color: #428866;
}

.container input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.151);
    border: transparent;
}
/*EN ESTE APARTADO VA UN INTENTO DE MENSAJE TOAST*/
.logro{
    width: 250px;
    position: fixed;
    top: -100px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition: top 0.3s ease, opacity 0.2s ease;
    font-family: 'monospace';
    background-color: #60b390;
    color: rgb(24, 22, 22);
    box-shadow: #000000 1px 3px 5px -1px;
    padding: 10px 20px;
    border-radius: 15px;
    opacity: 0;
}

.logro.mostrar{
    animation: bajar 0.5s ease;
    top: 30px;
    opacity: 1;
    /*hace que la trancision sea sueve y que vaya de abajo hacia arriba y luego desaparezca*/
}
/* Esto sirve para que el mensaje baje con una animacion de rebote,
pero no funciona del todo bien en mobiles
@keyframes bajar{
    0%{
        top: -100px
    }
    70%{
        top: 40px;
    }
    100%{
        top: 30px;
    }
}*/

.container .btnH{
    font-family: 'Courier New', Courier, monospace;
    margin: 6px;
    padding: 6px;
    width: 90px;
    font-size: 0.86rem;
    margin-bottom: 30px;
    border-radius: 8px;
    border: transparent;
    color: #131b25;
    background: rgb(127, 170, 110);
}

.btnH:active{
    transform: scale(1.2);
    transition: 0.1s;
}
#fecha{
    margin: -5px 0;
}

/*Esta parte es de la barra de progreso*/
.barra-progreso-contenedor{
    width: 100%;
    background: #c9c9d1b4;
    border-radius: 8px;
    box-shadow: #000000 1px 3px 5px -1px;
    height: 15px;
    overflow: hidden;
}
.barra-progreso{
    height: 100%;
    width: 0;
    background: linear-gradient(145deg, #74b993, #4da173, #299b5c, #0b8040);
    border-radius: 8px;
    transition: width 0.3s ease;
}
.botones{
    display: flex;
    align-items: center;
    gap: 8px;
    float: right;
}

.botones .btnE:active{
    transform: scale(1.2);
    transition:0.1s;
}

input[type="checkbox"]{
    vertical-align: middle;
    appearance: none;
    width: 35px;
    height: 22px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

input[type="checkbox"]:checked {
    background: #3bb355;
}

input[type="checkbox"]:checked::before {
    transform: translateX(13px);
}

.btnE{
    height: auto;
    border-radius: 8px;
    border: none;
    background: #61a886;
}
.botones .btnE{
    height: 20px;
    width: 30px;
    padding: 2px;
    justify-content: center;
    text-align: center;
    box-shadow: #000000 1px 3px 5px -1px;
}

.habitos{
    margin-top: 20px;
}

.completado{
    margin-left: 10px;
    text-decoration: line-through;
    opacity: 0.5;
    color: #20262c;
}
