*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

header{
    width: 98%;
    border: 2px solid rgb(124, 115, 115);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 5px;
    background-color: #428866;
    color: #131b25;
    padding: 10px 0px;
}

.container{
    width: 98%;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid rgb(124, 115, 115);
    border-radius: 10px;
    background-color: #428866;
}

.container input{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background: rgb(255, 255, 255, 0.3);
    border: transparent;
}

.container .btnH{
    font-family: 'Courier New', Courier, monospace;
    margin: 6px;
    padding: 6px;
    width: 80px;
    margin-bottom: 30px;
    border-radius: 8px;
    border: transparent;
    color: #131b25;
    background: rgb(127, 170, 110);
}

.botones{
    display: flex;
    align-items: center;
    gap: 8px;
    float: right;
}
input[type="checkbox"]{
    vertical-align: middle;
    appearance: none;
    width: 35px;
    height: 22px;
    background: #ccc;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

input[type="checkbox"]::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: 0.3s;
}

input[type="checkbox"]:checked {
    background: #3bb355;
}

input[type="checkbox"]:checked::before {
    transform: translateX(13px);
}

.btnE{
    height: auto;
    border-radius: 8px;
    border: none;
    background: #61a886;
}
.botones .btnE{
    height: 20px;
    width: 30px;
    padding: 2px;
    justify-content: center;
    text-align: center;
    box-shadow: #1d462c 1px 3px 5px -1px;
}

.habitos{
    margin-top: 20px;
}

.completado{
    text-decoration: line-through;
    opacity: 0.5;
}

